name: Test Build

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            tasks: ":annotations:build :ksp:build :jni:allTests"
          - os: windows-latest
            tasks: ":jni:mingwX64Test"
          - os: macos-latest
            tasks: ":jni:macosArm64Test"

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-read-only: false
          cache-encryption-key: ${{ secrets.GRADLE_CONFIGURATION_CACHE_KEY }}

      - name: Build and Test
        run: ./gradlew ${{ matrix.tasks }} :e2e:jvmTest
        continue-on-error: true

      - name: Upload Test Report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: jvm-test-report-${{ runner.os }}
          path: ./**/build/test-results/**/*.xml
          retention-days: 5
  publish-results:
    needs: build
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Detailed Test Report
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: "Tests: ${{ runner.os }}"
          path: "**/artifacts/**/*.xml"
          reporter: java-junit
